.containerDialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    color: #498896;
    padding: 5px 10px;
    text-decoration: none;
}

.dialog a {
    text-decoration: none;
    color: #498896;

}

.messages {
    padding: 5px 10px;
}